.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 15px;
  background-color: #355675;

  img {
    width: 137px;
  }
}

.burger-menu {
  cursor: pointer;
  font-size: 2rem;
  color: #ffffff;
  display: flex;
  z-index: 300;
  justify-content: flex-end;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #355675;
  padding-top: 100px;
  margin: 0;
  min-height: 100vh;

  &.open {
    display: flex;
  }

  li {
    padding: 1rem;
    text-align: center;

    a {
      color: #ffffff;
      text-decoration: none;
      display: block;
      position: relative;
      font-size: 36px;
      font-family: "Quicksand", serif;

      &:hover {
        color: #c1aece;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    img {
      width: 200px;
    }
  }
}
