.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/heros/medlem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  width: 100%;
  color: #ffffff;
  position: relative;
  display: flex;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #9478a8;
  opacity: 0.8;
  height: 100vh;
}

h2 {
  font-size: 88px;
  font-family: "Square Peg", serif;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-family: "Quicksand", serif;
}
