.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #ffffff;

  div {
    text-align: center;
    padding: 70px 0;
  }

  h4 {
    font-family: "Advent Pro", sans-serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
    text-transform: uppercase;
  }
}
